:root{
	--or:orange;
	---or:yellow;
	--gn:#077512;
	--sli:rgba(0,0,0,42);
	--gdc:linear-gradient(red,orange);
}
/*div{
	margin: 5px;
}*/
.div1{
	width:100px;
	height: 100px;
	background-color:var(--or);
	float: left;
}
.div2{
	width: 200px;
	height: 200px;
	background-color: var(---or);
   float: left;
}
.div3{
	width: 300px;
	height: 300px;
	background: var(--gdc);
	float: left;
}
.div4{
	width: 400px;
	height: 400px;
	background-color: gray;
	float: left;
}
.div5{
	width: 500px;
	height: 500px;
	background-color: lightblue;
	float: left;
}