body{
	background-color: black;
}
/*conic-gradient cannot rotate*/
.circle1,.circle2,.circle3,.circle4,.circle5,.circle6{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.circle1{
	background: conic-gradient(yellow,red,green,pink);
}
.circle2{
	background-image:conic-gradient(
		#eb4034,
		#ebd234,
		#b1eb34,
		#34ebd5,
		#170dd6,
		#bf0dd6,
		#b51655
	);
}

.circle3{
	background: conic-gradient(
		rgba(245, 40, 145, 0.8),
		#170dd6
	);
}
.circle4{
	background: conic-gradient(
		hsla(245,100%,50%,1),
		hsla(0, 100%, 50%, 1.0)
	);
}

